@import 'tailwindcss';

@theme {
    --color-light: #f8f9fa;
    --color-navy: #1b2a41;
    --color-red: #c62828;
    --color-charcoal: #333333;
}

@layer base {
    body {
        color: var(--color-charcoal);
    }
}
